# Config
/.gitattributes      export-ignore
/.gitignore          export-ignore
/.editorconfig       export-ignore
/scripts             export-ignore

# PHPStan
/phpstan.neon       export-ignore

# PHPUnit
/tests              export-ignore
/phpunit.xml        export-ignore
